.App {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-self: center;
  /* justify-content: center; */
}

h1, h2, h3 {
  color: green;
  font-style: italic;
}

li {
  color: grey;
  padding-top: 3px;
  font-size: 15px;
}

input, button, button.submit {
  background-color: white;
  border: 1px solid grey;
  border-radius: 3px;
  padding-block: 3px;
  color: grey;
  margin-block: 5px;
  font-weight: 500;
  width: 48px;
}

li button {
  margin-left: 8px;
}

button:hover, button:active {
  background-color: green;
  border-style: solid;
  color: white;
}

.error {
  color: red;
  background: lightgrey;
  font-size: 14px;
  border-style: solid;
  border-radius: 3px;
  padding: 5px;
  margin-bottom: 10px;
}

.success {
  color: green;
  background: lightgrey;
  font-size: 14px;
  border-style: solid;
  border-radius: 3px;
  padding: 5px;
  margin-bottom: 10px;
}